<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FOCUS wk (Glance).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FOCUS wk (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FOCUS wk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FOCUS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74198FAB1D956AEE006C065A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74198FBF1D956AEF006C065A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74198FCA1D956AEF006C065A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7419908E1D977A57006C065A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
